#!/usr/local/bin/3proxy
daemon
pidfile /etc/3proxy-0.8.12/3proxy.pid
nserver 8.8.8.8
nserver 8.8.4.4
nscache 65536
timeouts 1 5 30 60 180 1800 15 60
log /etc/3proxy-0.8.12/3proxy.log D
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
archiver gz /usr/bin/gzip %F
rotate 30
#auth iponly strong
#authcache user 60
#auth strong cache
auth strong
deny * * 127.0.0.1,192.168.1.1
allow * * * 80-88,8080-8088 HTTP
allow * * * 443,8443 HTTPS
users vUser:CL:vPassword
proxy -n -a -pzzzz -ixxx.xxx.xxx.xxx -exxx.xxx.xxx.xxx
flush
allow vUser
#allow vAutorizacion
